.header {
    min-height: 50px;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.header a {
    font-size: 30px;
    color: snow;
    text-decoration: none;
}

.header a[class='active']{
    text-decoration: underline;
    color: goldenrod;
}